<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeveloperName</key>
	<string>Niels Hop</string>
	<key>ApplicationDescription</key>
	<string>Colonnade is a macOS window manager for wide screens: hold a trigger key and move the mouse to arrange windows side by side at full height.</string>
	<key>Website</key>
	<string>https://github.com/niels-hop/Colonnade</string>
	<key>Connections</key>
	<array>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>api.github.com</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>443</string>
			<key>Relevance</key>
			<string>Default</string>
			<key>Purpose</key>
			<string>Colonnade checks once a day whether a newer release is available. You can turn this off in the About tab of Colonnade's settings.</string>
			<key>DenyConsequences</key>
			<string>If you deny these connections, you will not be notified about new versions of Colonnade.</string>
		</dict>
	</array>
</dict>
</plist>
